.split-window {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;

    .window__left {
        flex-basis: 50%;
        flex-direction: column;

        .task-box {
            width: 100%;
        }
    }

    .window__right {
        flex-basis: 50%;
        flex-direction: column;

        .information-box {
            list-style: none;
            padding: 0;
        }
    }
}
